<%= form_for(@perk) do |f| %>
  <% if @perk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@perk.errors.count, "error") %> prohibited this perk from being saved:</h2>

      <ul>
      <% @perk.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <thead>
      <td></td>
      <td></td>
    </thead>
    <tbody>
      <tr>
	<td>Company name:</td>
	<td><%= f.text_field :company_name %></td>
      </tr>
      <tr>
	<td>Address:</td>
	<td><%= f.text_field :company_address %></td></tr>
      <tr>
	<td>Phone:</td>
	<td><%= f.text_field :company_phone %></td></tr>
      <tr>
	<td>Description:</td>
	<td><%= f.text_area :description, size: "60x12" %></td>
      </tr>
      <tr>
	<td>Website:</td>
	<td><%= f.text_field :website %></td>
      </tr>
      <tr>
	<td>Coupon:</td>
	<td><%= f.text_field :coupon %></td>
      </tr>
      <tr>
	<td>Category:</td>
	<td>{TODO}</td>
      </tr>
      <tr>
	<td>Deleted?:</td>
	<td><%= f.check_box :is_deleted %></td>
      </tr>
      <%# TODO image %>
    </tbody>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
