<%= form_for(@perk) do |f| %>
  <% if @perk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@perk.errors.count, "error") %> prohibited this perk from being saved:</h2>

      <ul>
      <% @perk.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :company_name %>
  <%= f.text_field :company_address %>
  <%= f.text_field :company_phone %>
  <%= f.text_area :description, size: "60x12" %>
  <%= f.text_field :website %>
  <%= f.text_field :coupon %>
  <%= f.check_box :is_deleted %>
  <%# TODO image %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
