<h1>Listing perks</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @perks.each do |perk| %>
      <tr>
	<td><img src="<%= perk.image.url(:thumb) %>" alt="Perk Image"></td>
	<td><strong><%= perk.company_name or "(No name)" %></strong></td>
        <td><%= link_to 'Show', perk %></td>
        <td><%= link_to 'Edit', edit_perk_path(perk) %></td>
        <td>
	  <% if perk.is_deleted %>
	  (Deleted)
	  <% else %>
	  <%= link_to 'Delete', perk, method: :delete, data: { confirm: 'Are you sure?' } %>
	  <% end %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Perk', new_perk_path %>
