<p id="notice"><%= notice %></p>

<%# TODO sanitize things %>

<h1><%= @perk.company_name or "(No name)" %><% if @perk.is_deleted %> <span style="color: red"><em>(deleted)</em></span><% end %></h1>
<div><img src="<%= @perk.image_url or '/images/missing.jpg' %>" alt="Perk Image"></div>
<p>Address: <%= @perk.company_address or "(No address)" %></p>
<p>Phone: <%= @perk.company_phone or "(No phone number)" %></p>
<p>Description: <%= @perk.description or "(No description)" %></p>

<p>
  Website: <% if @perk.website %>
  <a href="<%= @perk.website %>"><%= @perk.website %></a>
  <% else %>
  (No website)
  <% end %>
</p>

<p>
  Coupon: <% if @perk.coupon %>
  <a href="<%= @perk.coupon %>"><%= @perk.coupon %></a>
  <% else %>
  (No coupon)
  <% end %>
</p>

<p>Category: <% if @perk.category %>
  <%= @perk.category %>"
  <% else %>
  (No category)
  <% end %>
</p>

<%# TODO show map? %>

<%= link_to 'Edit', edit_perk_path(@perk) %> |
<%= link_to 'Back', perks_path %>
